.pageContainer {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron {
	padding-top: 20px;
	background-image: url("../images/bg.png");
}

h1 {
	padding-bottom: 15px;
}

#instructions {
	padding-bottom: 10px;
	font-weight: bold;
	color: red;
}